body {height: 5000px;}
.wrap {max-width: 900px; margin: 50px auto;}
.wrap > h2 {padding: 1rem 0; border-bottom: 1px solid #ccc; font-weight: normal; letter-spacing: 0.25rem; margin-bottom: 2rem; color: #333;}


/* Header */
.header {padding: 0.5rem 1rem; background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.3);
display: flex; justify-content: space-between; align-items: center; letter-spacing: 0.25rem; position: fixed; width: 100%;}
.logo {font-size: 1.25rem;}
.logo > span:last-child {font-weight: normal;}
.nav-wrap {display: flex;}
.nav-wrap > div {padding: 0.5rem 1rem; cursor: pointer;
transition: all 0.5s;}
.nav-wrap > div:hover {background-color: #ccc;}

/* Main Banner */
.main-banner {background: url(../img/architect.jpg) no-repeat center;
background-size: cover; height: 80vh; display: flex; justify-content: center; align-items: center; }
.main-slogan {font-size: 5vw; letter-spacing: 0.8vw; color: #fff; text-shadow: 0, 0, 4px, rgba(0,0,0,0.7);}
.main-slogan > span:first-child {display: inline-block; padding: 0.5vw 1vw; background-color: rgba(0, 0, 0, 0.7);}

/* Projects */
